.queue-card {
    border: 1px solid black;
    margin-bottom: 0.3em;
    padding: 0.4em;
}

.queue-card h2 {
    font-size: 1.2rem;
}

.queue-card > div {
    display: flex;
    gap: 0.3em;
    flex-wrap: wrap;
    text-align: center;
    height: 50px;
    align-items: start;
}

.queue-card .duration {
    border: 1px solid red;
    width: fit-content;
    height: 20px;
}